.center-text {
  text-align: center;
}

.body {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.gray-text.center-text {
  color: #949292;
  font-weight: 400;
}

.account-number {
  display: block;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
}

.account-button {
  margin-bottom: 16px;
  margin-left: 16px;
  padding-right: 39px;
  padding-left: 41px;
  font-size: 20px;
  text-align: center;
}

.account-button:hover {
  background-color: #084983;
}

.account-button.delete-button {
  padding-right: 64px;
  padding-left: 80px;
  background-color: #24659e;
}

.account-button.success-button {
  background-color: #38cc68;
}

.key-pad {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 18px;
}

.key-pad-row {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.top-banner {
  position: static;
  height: 60px;
  padding-top: 7px;
  background-color: transparent;
}

.error-text {
  margin-top: auto;
  margin-bottom: auto;
  color: #5c5555;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.menu-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.icons-row {
  margin-bottom: 65px;
}

.menu-icon-button {
  display: inline-block;
  width: 176px;
  margin-right: 35px;
  margin-left: 35px;
  padding: 10px 24px;
  border-radius: 20px;
  background-color: #61b1f7;
  cursor: pointer;
}

.menu-icon-button:hover {
  background-color: #007deb;
}

.menu-icon-button.check-balance-button {
  margin-top: 0px;
  margin-bottom: 1px;
  padding: 10px 38px 13px 40px;
  border-top-right-radius: 20px;
}

.icon {
  width: 115px;
}

.icon.wallet-balance {
  width: 93px;
}

.icon-text {
  color: #000;
  font-size: 31px;
}

.icon-text.check-balance-people {
  margin-top: 7px;
  margin-bottom: 6px;
  font-size: 27px;
  line-height: 25px;
}

.greeting {
  display: block;
  margin-top: 36px;
  margin-bottom: 28px;
}

.logout-button {
  position: absolute;
  display: inline-block;
  margin-top: 35px;
  margin-left: 16%;
  padding: 16px 26px;
  float: none;
  clear: none;
  background-color: #ec6a38;
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .logout-button {
    margin-left: 5%;
  }
}

@media (max-width: 767px) {
  .greeting {
    font-size: 25px;
  }
  .logout-button {
    font-size: 19px;
  }
}

@media (max-width: 479px) {
  .icons-row {
    margin-bottom: 0px;
  }
  .menu-icon-button {
    margin-bottom: 47px;
  }
  .menu-icon-button.check-balance-button {
    margin-bottom: 47px;
  }
  .greeting {
    margin-bottom: 64px;
  }
  .logout-button {
    margin-top: 79px;
    margin-left: 33%;
  }
}
.menu-content{
  display: none;
}

.login-content{
  display: none;
}