.deposit-container {
  position: absolute;
  left: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 55%;
  height: 80%;
}

.cash-button {
  position: absolute;
  left: 5%;
  bottom: 50%;
  background-color: rgb(77,158,248);
  height: 50px;
  width: 200px;
  float: none;
  clear: none;
  font-size: 24px;
  font-weight: 400;
  box-shadow:
    0 1px 2px #fff,
    0 -1px 1px #666,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.cash-button:hover {
  background-color: rgb(47,128,218);
}

.cheque-button {
  position: absolute;
  right: 5%;
  bottom: 50%;
  background-color: rgb(77,158,248);
  height: 50px;
  width: 200px;
  float: none;
  clear: none;
  font-size: 24px;
  font-weight: 400;
  box-shadow:
    0 1px 2px #fff,
    0 -1px 1px #666,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.cheque-button:hover {
  background-color: rgb(47,128,218);
}

.sessiontotal {
  position: absolute;
  left: 25%;
  bottom: 20%;  
}

.deposit-container {
  position: absolute;
  left: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.continue-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color: #48a33c;
  height: 70px;
  width: 250px;
  float: none;
  clear: none;
  font-size: 24px;
  font-weight: 400;
  box-shadow:
    0 1px 2px #fff,
    0 -1px 1px #666,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.continue-button:hover {
  background-color: #26811a;
}

.cancel-button {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 150px;
  height: 60px;
  background-color: #E69632;
  height: 70px;
  width: 250px;
  float: none;
  clear: none;
  font-size: 24px;
  font-weight: 400;
  box-shadow:
    0 1px 2px #fff,
    0 -1px 1px #666,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.8);
}

.cancel-button:hover {
  background-color: rgb(200,120,20);
}

.select-account-dropdown {
  position: absolute;
  left: 21%;
  top: 20%;
  width: 400px;
  height: 80px;
  border-radius: 0px;
  font-size: 30px;
}

.center-text {
  text-align: center;
}

.body {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.gray-text.center-text {
  color: #949292;
  font-weight: 400;
}

.account-number {
  display: block;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
}

.pin-number {
  display: none;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
}

.login-button {
  display: none;
  margin-top: 10px;
}

.back-button{
  display: none;
  background-color: gray;
  margin-top: 10px;
}

.account-button {
  margin-bottom: 16px;
  margin-left: 16px;
  padding-right: 39px;
  padding-left: 41px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.account-button:hover {
  background-color: #084983;
}

.account-button.delete-button {
  padding-right: 64px;
  padding-left: 80px;
  background-color: #24659e;
}

.login-header-titles-2{
  display: none;
}

.account-button.success-button {
  background-color: #38cc68;
  padding-top: 24px;
}

.key-pad {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 18px;
}

.key-pad-row {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.top-banner {
  position: static;
  height: 60px;
  padding-top: 7px;
  background-color: transparent;
}

.error-text {
  margin-top: auto;
  margin-bottom: auto;
  color: #5c5555;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.menu-container {
  position: absolute;
  left: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.icons-row {
  margin-bottom: 65px;
}

.menu-icon-button {
  display: inline-block;
  width: 176px;
  margin-right: 35px;
  margin-left: 35px;
  padding: 10px 24px;
  border-radius: 20px;
  background-color: #61b1f7;
  cursor: pointer;
}

.menu-icon-button:hover {
  background-color: #007deb;
}

.menu-icon-button.check-balance-button {
  margin-top: 0px;
  margin-bottom: 1px;
  padding: 10px 38px 13px 40px;
  border-top-right-radius: 20px;
}

.icon {
  width: 115px;
}

.icon.wallet-balance {
  width: 93px;
}

.icon-text {
  color: #000;
  font-size: 31px;
}

.icon-text.check-balance-people {
  margin-top: 7px;
  margin-bottom: 6px;
  font-size: 27px;
  line-height: 25px;
}

.greeting {
  display: block;
  margin-top: 36px;
  margin-bottom: 28px;
}

.mainmenu-button {
  bottom: 350px;
  background-color: rgb(77,158,248);
}

.mainmenu-button:hover {
  background-color: #007deb
}

.withdraw-button {
  bottom: 280px;
  background-color: rgb(77,158,248);
}

.withdraw-button:hover {
  background-color: #007deb
}

.deposit-button {
  bottom: 210px;
  background-color: rgb(77,158,248);
}

.deposit-button:hover {
  background-color: #007deb
}

.transfer-button {
  bottom: 140px;
  background-color: rgb(77,158,248);
}

.transfer-button:hover {
  background-color: #007deb
}

.fastcash-button {
  bottom: 70px;
  background-color: rgb(77,158,248);
}

.fastcash-button:hover {
  background-color: #007deb
}

.logout-button {
  bottom: 0px;
  border-bottom: solid 3px black;
  background-color: #ec3838;
}

.logout-button:hover {
  background-color: darkred;
}

.sidebar a {
  padding-top: 22.5px;
  border-top: solid 3px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  height: 70px;
  width: 250px;
  margin-left: 16%;
  float: none;
  clear: none;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  border-radius: 0px;
}

.sidebar {
  position: absolute;
  text-align: center;
  top: 85%;
  left: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  padding-right: 12px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .sidebar a {
    margin-left: 5%;
    font-size: 19px;
    width: 150px;
  }
  .continue-button {
    margin-left: 5%;
    font-size: 19px;
    width: 150px;    
  }
  .cancel-button {
    margin-left: 5%;
    font-size: 19px;
    width: 150px;    
  }
  .cash-button {
    margin-left: 5%;
    font-size: 15px;
    width: 100px;   
  }
  .cheque-button {
    margin-left: 5%;
    font-size: 15px;
    width: 100px;  
  }
}

@media (max-width: 767px) {
  .greeting {
    font-size: 25px;
  }
  .sidebar a {
    font-size: 19px;
    width: 150px;
  }
}

@media (max-width: 479px) {
  .icons-row {
    margin-bottom: 0px;
  }
  .menu-icon-button {
    margin-bottom: 47px;
  }
  .menu-icon-button.check-balance-button {
    margin-bottom: 47px;
  }
  .greeting {
    margin-bottom: 64px;
  }
  .sidebar a {
    margin-top: 79px;
    margin-left: 33%;
  }
}

.menu-content{
  display: none;
}

.login-content{
  display: none;
}